# Virtual environments
.venv/
venv/
env/

# Python cache
__pycache__/
*.py[cod]

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Python environment
*.egg-info/

# Streamlit secrets
.streamlit/secrets.toml

# Local SQLite database
*.db

# Logs
*.log